* {
  margin: 0;
}
main {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #f3f4b8;
  justify-content: space-around;
}

main div {
  padding: 20px;
}

h1 {
  font-family: "Open Sans", sans-serif;
  padding: 30px;
}

.title-text {
  color: #e35e2b;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
}

#nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav-bar li {
  display: inline;
  font-family: "Open Sans", sans-serif;
  padding: 10px 20px;
}

#nav-bar li a {
  text-decoration: none;
}

#nav-bar li:hover,
#nav-bar li:active {
  background-color: red;
}
